<%- include('base.ejs') %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
<link rel="stylesheet" href="/css/home.css">
 <link rel="stylesheet" href="/css/forms.css">
 <link rel="stylesheet" href="/css/product.css">
 
</head>

<body>

<%- include('nav.ejs') %>

<main>
    <div style="width:800px; margin:0 auto;">
        <% for (var i = 0; i < prof.length; i++) { %>
        <% var pro = prof[i]; %>
	<form class="product-form" action="/employee" method="GET">

                        <h1 class="product__title"> My Profile 
                        </h1>
                  
						<div class="form-group row">
            
							<label for="name" class="col-sm-6 col-form-label">Name</label>
							<div class="col-sm-6">
							<input type="text" disabled="disabled" name="name" id="name" value="<%= pro.name_fn %>">
							</div>
						
						</div>
						<div class="form-group row">
            
							<label for="gender" class="col-sm-6 col-form-label">Gender</label>
							<div class="col-sm-6">
							<input type="text" disabled="disabled" name="gender" id="gender" value="<%= pro.gender %>">
							</div>
						
						</div>
						<div class="form-group row">
            
							<label for="age" class="col-sm-6 col-form-label">Age</label>
							<div class="col-sm-6">
							<input type="text" disabled="disabled" name="age" id="age" value="<%= pro.age %>">
							</div>
						
						</div>
						<div class="form-group row">
            
							<label for="name" class="col-sm-6 col-form-label">Experience</label>
							<div class="col-sm-6">
							<input type="text" disabled="disabled" name="exp" id="exp" value="<%= pro.experience %>">
							</div>
						
						</div>
						<div class="form-group row">
            
							<label for="name" class="col-sm-6 col-form-label">Salary</label>
							<div class="col-sm-6">
							<input type="text" disabled="disabled" name="salary" id="salary" value="<%= pro.salary %>">
							</div>
						
						</div>
						<div class="form-group row">
            
							<label for="name" class="col-sm-6 col-form-label">Role</label>
							<div class="col-sm-6">
							<input type="text" disabled="disabled" name="role" id="role" value="<%= pro.role %>">
							</div>
						
						</div>
					
                    </div>
    </article>
        <% } %>
	</div>
	<div class="grid">
		<h1 class="product__title"> My Orders
		</h1>

		<table class="table table-bordered table-dark">
			<thead>
			  <tr>
				<th scope="col">Order No.</th>
				<th scope="col">Order ID</th>
				<th scope="col">Dish</th>
				<th scope="col">Comleted</th>
				<th scope="col">Button</th>
			  </tr>
			</thead>

			<tbody>
		<% for (var i = 0; i < orders.length; i++) { %>
			<% var order = orders[i]; %>
				<tr>
				<th scope="row"><%= i+1 %></th>
				<td> <%= order.order_id %></td>
				<td> <%= order.dish %></td>
				<td> <p class="product__description">
					<%= order.completed %> 
					</p>
				</td>
				<td>
					<form action="/employee" method="post">
						<button class="btn" type="submit">Cook/Serve</button> 
						<input type="hidden" name="id" value="<%= order.id %>">
						<input type="hidden" name="order_id" value="<%= order.order_id %>">
					   <input type="hidden" name="dish_id" value="<%= order.dish_id %>">
					</form>
				</td>
				</tr>
			<% } %>
		</tbody>
		</table>
    </div>
</main>
</body>
