<%- include('base.ejs') %>
 <link rel="stylesheet" href="/css/home.css">
 <link rel="stylesheet" href="/css/forms.css">
 <link rel="stylesheet" href="/css/product.css">
</head>

<body>

<%- include('nav.ejs') %>

<main>
    <div class="grid">
        <% for (var i = 0; i < prof.length; i++) { %>
        <% var pro = prof[i]; %>
    <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product__title"> My Profile 
                        </h1>
                    </header>
                    
                    <div class="card__content">
                        <h3 class="product__description">Name: 
                            <%= pro.name_fn %>
                        </h3>
						<h3 class="product__description">Gender: 
                            <%= pro.gender %>
                        </h3>
                        <h3 class="product__description">Age: 
                            <%= pro.age %>
                        </h3>
						<h3 class="product__description">Experience: 
                            <%= pro.experience %>
                        </h3>
						<h3 class="product__description">Salary: 
                            <%= pro.salary %>
                        </h3>
						<h3 class="product__description">Role: 
                            <%= pro.role %>
                        </h3>
                    </div>
    </article>
        <% } %>
	</div>
	<div class="grid">
		<h1 class="product__title"> My Orders
		</h1>
		<% for (var i = 0; i < orders.length; i++) { %>
			<% var order = orders[i]; %>
		<article class="card product-item">
						<header class="card__header">
							<h1 class="product__title"> Order No: 
								<%= i+1 %>
							</h1>
						</header>
						
						<div class="card__content">
							<h3 class="product__description">Order ID: 
								<%= order.order_id %>
							</h3>
							<h3 class="product__description">Dish_ID: 
								<%= order.dish_id %>
							</h3>
							<h3 class="product__description">Dish: 
								<%= order.dish %>
							</h3>
							<h3 class="product__description">Completed: 
								<%= order.completed %>
							</h3>
						</div>
		</article>
			<% } %>
    </div>
</main>
</body>
