<%- include('base.ejs') %>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
<link rel="stylesheet" href="/css/home.css">
 <link rel="stylesheet" href="/css/forms.css">
 <link rel="stylesheet" href="/css/product.css">
</head>
<%- include('nav.ejs') %>
<body>



<div>
 <ul class="section8-ul">
	<% for (var i = 0; i < menu.length; i++) { %>

	<li class="section8-li">

	<a class="section8-a" href="#section-8">
	<img src="images/dish.jpg" style="height:10em; width:15em; display:block;margin: auto; ">
	  <h2 class="section8-h2"> <%= menu[i].name %> </h2>
	  <p class="section8-p"><%= menu[i].cuisine %>, <%= menu[i].category %>, <%= menu[i].cost %></p>
	  <form action="/order" method="post" >
		<input type="hidden" name="id" value="<%= menu[i].dish_id %>">
		
		<div class="col-sm-2" style="display:flex">
			
			<div class="input-group">
				<span class="input-group-btn">
					<button onclick="decrement('quantity_<%= menu[i].dish_id %>')" type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="">
					<span class="glyphicon glyphicon-minus"></span>
					</button>
				</span>
				<input type="text" style="width:4em;height:2.5em; margin-bottom:1em" id="quantity_<%= menu[i].dish_id %>" name="quantity" class="form-control input-number" value="0">
				<span class="input-group-btn">
					<button onclick="increment('quantity_<%= menu[i].dish_id %>')" type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</span>
			</div>
		</div>
	  	<button class="order_btn" type="submit">Order</button>
	  </form>
	  </a>
		</li>
	<% } %>

</ul>
</div>
<div>
	
		<h1 class="product__title"> My Order History
		</h1>
		
		<div class="grid">
			

		<table class="table table-bordered table-dark">
			<thead>
				<tr>
				<th scope="col">Order No.</th>
				<th scope="col">Order ID</th>
				<th scope="col">Date</th>
				<th scope="col">Dish</th>
				<th scope="col">Quantity</th>
				<th scope="col">Review</th>
				<th scope="col">Cost</th>
				</tr>
			</thead>
			<tbody>
				<% for (var i = 0; i < orders.length; i++) { %>
					<% var order = orders[i]; %>
						<tr>
						<th scope="row"><%= i+1 %></th>
						<td> <%= order.order_id %></td>
						<td> <%= order.work_date.getDate() %>/<%= order.work_date.getMonth() %>/<%= order.work_date.getFullYear() %></td>
						<td> <%= order.dish %></td>
						<td>  <%= order.qty %>
						</td>
						<td> <%= order.review %>
						</td>
						<td> <%= order.cost %></td>
					</tr>
					<% } %>
			</tbody>
		</table>
	
		
		</div>
</div>

	

<script>
			

	
	function increment(e){
			
			e = "#".concat(e);
			console.log(e);
			var quantity = parseInt($(e).val());
			console.log(quantity);
			$(e).val(quantity + 1);

	};

	function decrement(e){
			e = "#".concat(e);
			var quantity = parseInt($(e).val());
			if(quantity>0){
				$(e).val(quantity - 1);
			}
	};
		
</script>
</body>
