<%- include('base.ejs') %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
<link rel="stylesheet" href="/css/home.css">
 <link rel="stylesheet" href="/css/forms.css">
 <link rel="stylesheet" href="/css/product.css">
 <link rel="stylesheet" href="/css/table.css">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

 <style>
  td {
        text-align: center;
      }
  
  th {
        text-align: center;
      }
 </style>
</head>

<body>
<%- include('owner_nav.ejs') %>
<main>


<div class="grid">
    <a id="my_employees">
      <br>
      <br>
      <br>
      <br>
    <h1 class="product__title"> My Employees
    </h1>
    </a>

    <form action="/empl" method="get">
        <button class="btn" type="submit">Add New Employee</button>
    </form>

    <table class="w3-table w3-striped w3-bordered">
        <thead>
          <tr style="background-color:coral;">
            <th scope="col">Employee ID</th>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Age</th>
            <th scope="col">Salary</th>
            <th scope="col">Experience</th>
            <th scope="col">Role</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>

        <tbody>

        <% for (var i = 0; i < empl.length; i++) { %>
        <% var emp = empl[i]; %>
        <tr>
            <th scope="row"><%= emp.id %></th>
            <td> <%= emp.name_fn %></td>
            <td> <%= emp.gender %></td>
            <td> <%= emp.age %></td>
            <td> <%= emp.salary %></td>
            <td> <%= emp.experience %></td>
            <td> <%= emp.role %></td>
            <td>
                <form action="/upp_empl" method="post">
                  <input type="hidden" name="id" value="<%= emp.id %>">
                    <button class="btn" type="submit">Update</button> 
                   
                </form>
            </td>
            <td>
              <form action="/del_empl" method="post">
                <input type="hidden" name="id" value="<%= emp.id %>">
                  <button class="btn" type="submit">Delete</button> 
                 
              </form>
          </td>

            </tr>


        <% } %>
        </table>
  </div>

  <div class="grid">
    <a id= "allot_order_left">
      <br>
      <br>
      <br>
      <br><h1 class="product__title"> Ingredients Needed
    </h1></a>

    <table class="w3-table w3-striped w3-bordered">
        <thead>
          <tr style="background-color:coral;">
            <th scope="col">Ing ID</th>
            <th scope="col">Ing Name</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>

        <tbody>
        
        <% for (var i = 0; i < ing_to_order.length; i++) { %>
        <% var order_left = ing_to_order[i]; %>
        <tr>
            <th scope="row"><%= order_left.ingredient_id %></th>
            <td> <%= order_left.ingredient_name %></td>
            <td> <%= order_left.quantity %></td>
            
            
        </tr>


        <% } %>
        </table>
  </div>

  <div class="grid">
    <a id= "allot_order_left">
      <br>
      <br>
      <br>
      <br><h1 class="product__title"> Allot Order Left
    </h1></a>

    <table class="w3-table w3-striped w3-bordered">
        <thead>
          <tr style="background-color:coral;">
            <th scope="col">Order_ID</th>
            <th scope="col">Dish_ID</th>
            <th scope="col">Dish Name</th>
            <th scope="col">Quantity_Ordered</th>
            <th scope="col">Allot Order</th>
          </tr>
        </thead>

        <tbody>

        <% for (var i = 0; i < orders_left.length; i++) { %>
        <% var order_left = orders_left[i]; %>
        <tr>
            <th scope="row"><%= order_left.order_id %></th>
            <td> <%= order_left.dish_id %></td>
            <td> <%= order_left.dish %></td>
            <td> <%= order_left.qty %></td>
            <td>
                <form action="/upp_allotcook1" method="post">
                  <input type="hidden" name="order_id" value="<%= order_left.order_id %>">
                  <input type="hidden" name="dish_id" value="<%= order_left.dish_id %>">
                    <button class="btn" type="submit">Allot Order</button> 
                   
                </form>
            </td>

            </tr>


        <% } %>
        </table>
  </div>

  <div class="grid">
    <a id= "allot_order_serve">
      <br>
      <br>
      <br>
      <br>
      <h1 class="product__title"> Allot Order to Serve
    </h1></a>

    <table class="w3-table w3-striped w3-bordered">
        <thead>
          <tr style="background-color:coral;">
            <th scope="col">Order_ID</th>
            <th scope="col">Dish_ID</th>
            <th scope="col">Dish Name</th>
            <th scope="col">Quantity_Ordered</th>
            <th scope="col">Allot serve order</th>
          </tr>
        </thead>

        <tbody>

        <% for (var i = 0; i < orders_to_serve.length; i++) { %>
        <% var serve_order = orders_to_serve[i]; %>
        <tr>
            <th scope="row"><%= serve_order.order_id %></th>
            <td> <%= serve_order.dish_id %></td>
            <td> <%= serve_order.dish %></td>
            <td> <%= serve_order.qty %></td>
            <td>
                <form action="/upp_allotwaiter1" method="post">
                  <input type="hidden" name="order_id" value="<%= serve_order.order_id %>">
                  <input type="hidden" name="dish_id" value="<%= serve_order.dish_id %>">
                    <button class="btn" type="submit">Allot Serve Order</button> 
                   
                </form>
            </td>

            </tr>


        <% } %>
        </table>
  </div>

  <div class="grid">
    <a id= "inventory">
      <br>
      <br>
      <br>
      <br><h1 class="product__title"> Inventory
    </h1></a>

    <form action="/invent" method="get">
        <button class="btn" type="submit">Add New Inventory</button>
    </form>

    <table class="w3-table w3-striped w3-bordered">
        <thead>
          <tr style="background-color:coral;">
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Increment</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>

        <tbody>

        <% for (var i = 0; i < invs.length; i++) { %>
        <% var inv = invs[i]; %>
        <tr>
            <th scope="row"><%= inv.ingredient_id %></th>
            <td> <%= inv.ingredient_name %></td>
            <td> <%= inv.quantity %></td>
            <td>
              <form action="/inc_inv" method="post">
                <input type="hidden" name="id" value="<%= inv.ingredient_id %>">
                    <button class="btn" type="submit">Increment</button> 
                  </form>
            </td>
            <td>
              <form action="/del_inv" method="post">
                <input type="hidden" name="id" value="<%= inv.ingredient_id %>">
                  <button class="btn" type="submit">Delete</button> 
                 
              </form>
          </td>
            

            </tr>


        <% } %>
        </table>
  </div>
  
  <div class="grid">
    <a id= "order_anal">
      <br>
      <br>
      <br>
      <br><h1 class="product__title"> Order History and Analytics
    </h1></a>

    <table class="w3-table w3-striped w3-bordered">
        <thead>
          <tr style="background-color:coral;">
            <th scope="col">Dish Name</th>
            <th scope="col">Number of Orders</th>
          </tr>
        </thead>

        <tbody>
        <canvas id="dish_vs_orders" class="graphs"></canvas>

        <% for (var i = 0; i < orders_all.length; i++) { %>
        <% var order = orders_all[i]; %>
        <tr>
            <th scope="row"><%= order.name %></th>
            <td> <%= order.num_orders %></td>

            </tr>


        <% } %>
      </table>
  </div>

  <div class="grid">
    <a id= "chef_anal">
      <br>
      <br>
      <br>
      <br><h1 class="product__title"> Chef Analytics
    </h1></a>
    <canvas id="chef_analytics" class="graphs"></canvas>

    <table class="w3-table w3-striped w3-bordered">
        <thead>
          <tr style="background-color:coral;">
            <th scope="col">Chef Name</th>
            <th scope="col">Number of Orders Prepared</th>
          </tr>
        </thead>

        <tbody>

        <% for (var i = 0; i < cooks_all.length; i++) { %>
        <% var cooks = cooks_all[i]; %>
        <tr>
            <th scope="row"><%= cooks.name %></th>
            <td> <%= cooks.num_orders %></td>

            </tr>


        <% } %>
      </table>
  </div>

  <div class="grid">
    <a id= "waiter_anal">
      <br>
      <br>
      <br>
      <br><h1 class="product__title"> Waiter Analytics
    </h1></a>
    <canvas id="waiter_analytics" class="graphs"></canvas>

    <table class="w3-table w3-striped w3-bordered">
        <thead>
          <tr style="background-color:coral;">
            <th scope="col">Waiter Name</th>
            <th scope="col">Number of Orders Served</th>
          </tr>
        </thead>

        <tbody>

        <% for (var i = 0; i < serves_all.length; i++) { %>
        <% var serves = serves_all[i]; %>
        <tr>
            <th scope="row"><%= serves.name %></th>
            <td> <%= serves.num_orders %></td>

            </tr>


        <% } %>
      </table>
  </div>

  <div class="grid">
    <a id="user_anal"><br>
      <br>
      <br>
      <br>
      <h1 class="product__title"> User Analytics - Top 20 users
    </h1></a>
    <canvas id="user_analytics" class="graphs"></canvas>

    <table class="w3-table w3-striped w3-bordered">
        <thead>
          <tr style="background-color:coral;">
            <th scope="col">User Name</th>
            <th scope="col">Number of Orders Placed</th>
          </tr>
        </thead>

        <tbody>

        <% for (var i = 0; i < users_all.length; i++) { %>
        <% var user = users_all[i]; %>
        <tr>
            <th scope="row"><%= user.name %></th>
            <td> <%= user.num_orders %></td>

            </tr>


        <% } %>
      </table>
  </div>


  

  <div class="grid" style="align-items: center; ">
    <a id="acc_info">
      <br>
      <br>
      <br>
      <br><h1 class="product__title"> Time series
    </h1></a>

    <form class="product-form" style="margin-left:40em;" action = "/accountrange" method="POST">
      <div class="form-group row" >
            
      <label for="range_start">Start date:</label>
      <input type="date" id="range_start" name="range_start"
          value="<% if (editing) { %><%= product.range_start %><% } %>"
          min="2020-01-01" max="2021-12-31">
        </div>

      <div class="form-group row">
            
      <label for="range_end">End date:</label>
      <input type="date" id="range_end" name="range_end"
          value="<% if (editing) { %><%= product.range_end %><% } %>"
          min="2020-01-01" max="2021-12-31">
      </div>

      <% if (editing) { %>
        <input type="hidden" value="<%= product.range_start %>" name="range_start">
        <input type="hidden" value="<%= product.range_end %>" name="range_end">
      <% } %>


      <p ><button class="btn" style="margin-left:5em" type="submit">Filter</button></p>

    </form>
    
  </div>

  <div class="grid">
    <h3 class = "product__title"><u><i>Analysis of Food and Finances</i></u></h3>
    <form class="product-form" action = "/analreport1" method="POST">
      <button class="btn" style="margin-left:20em;" type="submit"><marquee>Get Analytics_Report</marquee></button>
    </form>
  </div>
  

  <div class="grid">
    <a id= "acc_info1">
      <br>
      <br>
      <br>
      <br><h1 class="product__title"> Restaurant Details
    </h1></a>

    <table class="w3-table w3-striped w3-bordered">
        <thead>
          <tr style="background-color:coral;">
            <th scope="col">Date (in yyyy-mm-dd)</th>
            <th scope="col">Profit</th>
            <th scope="col">Expenditure</th>
            <th scope="col">Wastage</th>
          </tr>
        </thead>

        <tbody>

        <% for (var i = 0; i < accs.length; i++) { %>
        <% var acc = accs[i]; %>
        <tr>
            <th scope="row"><%= moment(acc.work_date).format('YYYY-MM-DD') %></th>
            <td> <%= acc.restaurant_profit %></td>
            <td> <%= acc.expenditure %></td>
            <td> <%= acc.total_food_wasted %></td>

            </tr>


        <% } %>
      </table>
  </div>


  <div class="grid">
    <a id="hist">
      <br>
      <br>
      <br>
      <br><h1 class="product__title"> Time series
    </h1></a>

    <form class="product-form" action = "/rangequery" method="POST">
      <div class="form-group row">
            
      <label for="range_start">Start date:</label>
      <input type="date" id="range_start" name="range_start"
         value="<% if (editing) { %><%= product.range_start %><% } %>"
         min="2020-01-01" max="2021-12-31">
        </div>

      <div class="form-group row">
            
      <label for="range_end">End date:</label>
      <input type="date" id="range_end" name="range_end"
          value="<% if (editing) { %><%= product.range_end %><% } %>"
          min="2020-01-01" max="2021-12-31">
      </div>

      <% if (editing) { %>
        <input type="hidden" value="<%= product.range_start %>" name="range_start">
        <input type="hidden" value="<%= product.range_end %>" name="range_end">
      <% } %>


      <p><button class="btn" type="submit">Filter</button></p>

    </form>
  </div>

  <div class="grid">
    <a id= "hist1">
      <br>
      <br>
      <br>
      <br><h1 class="product__title"> Order History
    </h1></a>

    <table class="w3-table w3-striped w3-bordered">
        <thead>
          <tr style="background-color:coral;">
            <th scope="col">Date (in yyyy-mm-dd)</th>
            <th scope="col">Dish Name</th>
            <th scope="col">Total quantity</th>
            <th scope="col">Avg Review (out of 5)</th>
          </tr>
        </thead>

        <tbody>

        <% for (var i = 0; i < hist.length; i++) { %>
        <% var hi = hist[i]; %>
        <tr>
            <th scope="row"><%= moment(hi.work_date).format('YYYY-MM-DD') %></th>
            <td> <%= hi.name %></td>
            <td> <%= hi.qty %></td>
            <td> <%= hi.rev %></td>

            </tr>


        <% } %>
      </table>
  </div>

</main>
<script>
  var ctx = document.getElementById('dish_vs_orders').getContext('2d');
  var orders = <%-JSON.stringify(orders_all)%>;
  var x = []; var y= [];
  for(var i in orders){
    x.push(orders[i].name); y.push(orders[i].num_orders);
  }
  
  
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: x,
          datasets: [{
              label: '# of Orders',
              data: y,
              backgroundColor: [
              "green",
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });

  var ctx = document.getElementById('chef_analytics').getContext('2d');
  var orders = <%-JSON.stringify(cooks_all)%>;
  x = []; y= [];
  for(var i in orders){
    x.push(orders[i].name); y.push(orders[i].num_orders);
  }
  
  
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: x,
          datasets: [{
              label: '# of Orders',
              data: y,
              backgroundColor: [
              "green",
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });

  var ctx = document.getElementById('waiter_analytics').getContext('2d');
  var orders = <%-JSON.stringify(serves_all)%>;
  x = [];  y= [];
  for(var i in orders){
    x.push(orders[i].name); y.push(orders[i].num_orders);
  }
  
  
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: x,
          datasets: [{
              label: '# of Orders',
              data: y,
              backgroundColor: [
              "green",
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });

  var ctx = document.getElementById('user_analytics').getContext('2d');
  var orders = <%-JSON.stringify(users_all)%>;
   x = [];  y= [];
  for(var i in orders){
    x.push(orders[i].name); y.push(orders[i].num_orders);
  }
    
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: x,
          datasets: [{
              label: '# of Orders',
              data: y,
              backgroundColor: [
              "green",
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
  </script>
  
</body>

