<%- include('base.ejs') %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
<link rel="stylesheet" href="/css/home.css">
 <link rel="stylesheet" href="/css/forms.css">
 <link rel="stylesheet" href="/css/product.css">
 
</head>

<body>
<%- include('owner_nav.ejs') %>
<main>
<div class="grid">
    <a id="my_employees">
    <h1 class="product__title"> My Employees
    </h1>
    </a>

    <form action="/empl" method="get">
        <button class="btn" type="submit">Add New Employee</button>
    </form>

    <table class="table table-bordered table-dark">
        <thead>
          <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Age</th>
            <th scope="col">Salary</th>
            <th scope="col">Experience</th>
            <th scope="col">Role</th>
            <th scope="col">Update</th>
          </tr>
        </thead>

        <tbody>

        <% for (var i = 0; i < empl.length; i++) { %>
        <% var emp = empl[i]; %>
        <tr>
            <th scope="row"><%= emp.id %></th>
            <td> <%= emp.name_fn %></td>
            <td> <%= emp.gender %></td>
            <td> <%= emp.age %></td>
            <td> <%= emp.salary %></td>
            <td> <%= emp.experience %></td>
            <td> <%= emp.role %></td>
            <td>
                <form action="/upp_empl" method="post">
                  <input type="hidden" name="id" value="<%= emp.id %>">
                    <button class="btn" type="submit">Update</button> 
                   
                </form>
            </td>

            </tr>


        <% } %>
        </table>
  </div>

  <div class="grid">
    <a id= "allot_order_left"><h1 class="product__title"> Allot Order Left
    </h1></a>

    <table class="table table-bordered table-dark">
        <thead>
          <tr>
            <th scope="col">Order_ID</th>
            <th scope="col">Dish_ID</th>
            <th scope="col">Quantity_Ordered</th>
            <th scope="col">Cost</th>
            <th scope="col">Allot Order</th>
          </tr>
        </thead>

        <tbody>

        <% for (var i = 0; i < orders_left.length; i++) { %>
        <% var order_left = orders_left[i]; %>
        <tr>
            <th scope="row"><%= order_left.order_id %></th>
            <td> <%= order_left.dish_id %></td>
            <td> <%= order_left.qty %></td>
            <td> <%= order_left.cost %></td>
            <td>
                <form action="/upp_allotcook1" method="post">
                  <input type="hidden" name="order_id" value="<%= order_left.order_id %>">
                  <input type="hidden" name="dish_id" value="<%= order_left.dish_id %>">
                    <button class="btn" type="submit">Allot Order</button> 
                   
                </form>
            </td>

            </tr>


        <% } %>
        </table>
  </div>

  <div class="grid">
    <a id= "allot_order_serve"><h1 class="product__title"> Allot Order to Serve
    </h1></a>

    <table class="table table-bordered table-dark">
        <thead>
          <tr>
            <th scope="col">Order_ID</th>
            <th scope="col">Dish_ID</th>
            <th scope="col">Quantity_Ordered</th>
            <th scope="col">Cost</th>
            <th scope="col">Allot serve order</th>
          </tr>
        </thead>

        <tbody>

        <% for (var i = 0; i < orders_to_serve.length; i++) { %>
        <% var serve_order = orders_to_serve[i]; %>
        <tr>
            <th scope="row"><%= serve_order.order_id %></th>
            <td> <%= serve_order.dish_id %></td>
            <td> <%= serve_order.qty %></td>
            <td> <%= serve_order.cost %></td>
            <td>
                <form action="/upp_allotwaiter1" method="post">
                  <input type="hidden" name="order_id" value="<%= serve_order.order_id %>">
                  <input type="hidden" name="dish_id" value="<%= serve_order.dish_id %>">
                    <button class="btn" type="submit">Allot Serve Order</button> 
                   
                </form>
            </td>

            </tr>


        <% } %>
        </table>
  </div>

  <div class="grid">
    <a id= "inventory"><h1 class="product__title"> Inventory
    </h1></a>

    <form action="/invent" method="get">
        <button class="btn" type="submit">Add New Inventory</button>
    </form>

    <table class="table table-bordered table-dark">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Increment</th>
          </tr>
        </thead>

        <tbody>

        <% for (var i = 0; i < invs.length; i++) { %>
        <% var inv = invs[i]; %>
        <tr>
            <th scope="row"><%= inv.ingredient_id %></th>
            <td> <%= inv.ingredient_name %></td>
            <td>
                
                    <button class="btn" type="submit">Increment</button> 
                    
                   
                
            </td>

            </tr>


        <% } %>
        </table>
  </div>
  
  <div class="grid">
    <a id= "order_anal"><h1 class="product__title"> Order History and Analytics
    </h1></a>

    <table class="table table-bordered table-dark">
        <thead>
          <tr>
            <th scope="col">Dish Name</th>
            <th scope="col">Number of Orders</th>
          </tr>
        </thead>

        <tbody>

        <% for (var i = 0; i < orders_all.length; i++) { %>
        <% var order = orders_all[i]; %>
        <tr>
            <th scope="row"><%= order.name %></th>
            <td> <%= order.num_orders %></td>

            </tr>


        <% } %>
      </table>
  </div>

  <div class="grid">
    <a id= "chef_anal"><h1 class="product__title"> Chef Analytics
    </h1></a>

    <table class="table table-bordered table-dark">
        <thead>
          <tr>
            <th scope="col">Chef Name</th>
            <th scope="col">Number of Orders Prepared</th>
          </tr>
        </thead>

        <tbody>

        <% for (var i = 0; i < cooks_all.length; i++) { %>
        <% var cooks = cooks_all[i]; %>
        <tr>
            <th scope="row"><%= cooks.name %></th>
            <td> <%= cooks.num_orders %></td>

            </tr>


        <% } %>
      </table>
  </div>

  <div class="grid">
    <a id= "waiter_anal"><h1 class="product__title"> Waiter Analytics
    </h1></a>

    <table class="table table-bordered table-dark">
        <thead>
          <tr>
            <th scope="col">Waiter Name</th>
            <th scope="col">Number of Orders Served</th>
          </tr>
        </thead>

        <tbody>

        <% for (var i = 0; i < serves_all.length; i++) { %>
        <% var serves = serves_all[i]; %>
        <tr>
            <th scope="row"><%= serves.name %></th>
            <td> <%= serves.num_orders %></td>

            </tr>


        <% } %>
      </table>
  </div>

  <div class="grid">
    <a id="user_anal"><h1 class="product__title"> User Analytics - Top 20 users
    </h1></a>

    <table class="table table-bordered table-dark">
        <thead>
          <tr>
            <th scope="col">User Name</th>
            <th scope="col">Number of Orders Placed</th>
          </tr>
        </thead>

        <tbody>

        <% for (var i = 0; i < users_all.length; i++) { %>
        <% var user = users_all[i]; %>
        <tr>
            <th scope="row"><%= user.name %></th>
            <td> <%= user.num_orders %></td>

            </tr>


        <% } %>
      </table>
  </div>

</main>
</body>
